<div class="card-body">
  <div class="container">
    <div class="row">
     
      <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Setting Table</h4>
          <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngFor="let item of filter | keyvalue ">
            <div>
              <input type="checkbox" id="filter" [checked]="item.value" (change)="updateCheckboxValue(item.key, $event.target.checked)">
              <label for="filter"> {{item.key| localize }}</label><br>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered"
      [busy]="isTableLoading">
      <thead class="bg-light">
        <tr>
          <th *ngFor="let item of filter | keyvalue | filterByTrue">
           {{item.key| localize }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr 
        *ngFor="
          let output of entity
            | paginate
              : {
                  id: 'server',
                  itemsPerPage: pageSize,
                  currentPage: pageNumber,
                  totalItems: totalItems
                }
        ">
          <td *ngFor="let item of filter | keyvalue | filterByTrue" (click)="viewProfile(output)" >
            {{output[item.key]}}
          </td>
          <td>
            <button type="button"
              class="btn btn-sm bg-secondary"
              (click)="editClicked(output)">
              <i class="fas fa-pencil-alt"></i>
              {{ "Edit" | localize }}
            </button>
            <button type="button"
              class="btn btn-sm bg-danger mx-2"
              (click)="deleteClicked(output)">
              <i class="fas fa-trash"></i>
              {{ "Delete" | localize }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="card-footer table-card-footer bg-light border-top">
  <div class="row">
    <div class="col-sm-4 col-12 text-sm-left text-center">
      <button class="btn btn-secondary"
        (click)="refresh()">
        <i class="fas fa-redo-alt"></i>
      </button>
      <button style="margin-left: 0.5rem;" type="button" class="btn btn-primary" (click)="openModal(template)"><i class="fas fa-cog"></i></button>
    </div>
    <div class="col-sm-4 col-12 text-center">
      <p class="mb-0 my-2">
        {{ "TotalRecordsCount" | localize: totalItems }}
      </p>
    </div>
    <div class="col-sm-4 col-12">
      <div class="float-sm-right m-auto">
        <abp-pagination-controls id="server"
          (pageChange)="getDataPage($event)">
        </abp-pagination-controls>
      </div>
    </div>
  </div>
</div>