<div *ngIf="Data">
  <app-khoa-wrapper title="Xét nghiệm máu" [userInput]="Data.xetnghiemmau" [status]="Data.xetnghiemmau.status">
    <app-xet-nghiem-mau [defaultModel]="klplModel" [inputModel]="Data.xetnghiemmau" [save]="save"></app-xet-nghiem-mau>
  </app-khoa-wrapper>  
  
  <app-khoa-wrapper title="Xét nghiệm nước tiểu" [userInput]="Data.xetnghiemnuoctieu" [status]="Data.xetnghiemnuoctieu.status">
    <app-xet-nghiem-nuoc-tieu [defaultModel]="klplModel" [inputModel]="Data.xetnghiemnuoctieu" [save]="save"></app-xet-nghiem-nuoc-tieu>
  </app-khoa-wrapper>

  <app-khoa-wrapper title="Chẩn đoán hình ảnh" [userInput]="Data.chandoanhinhanh" [status]="Data.chandoanhinhanh.status">
    <app-chan-doan-hinh-anh [defaultModel]="klplModel" [inputModel]="Data.chandoanhinhanh" [save]="save"></app-chan-doan-hinh-anh>
  </app-khoa-wrapper>
</div>