<h2 style="text-align: center;">KHÁM CẬN LÂM SÀN</h2>

<form autocomplete="off"
#createxetnghiemkhac="ngForm"
(ngSubmit)="save()">
  <fieldset [disabled]="!isEditable10">
    <div class="container">
      <p>Xét nghiệm huyết học/sinh hóa/X.Quang và các xét nghiệm khác khi có chỉ định của bác sĩ:</p>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Kết quả:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" [(ngModel)]="xetnghiemkhac.xetnghiemkhac_text_ketqua"
        [ngModelOptions]="{standalone: true}"></textarea>
      </div>
    </div>
  </fieldset>
</form>