<form autocomplete="off"
#createtaimuihong1="ngForm"
(ngSubmit)="save()">
  <fieldset [disabled]="!isEditable5">
    <div>
      <!-- <div class="form-group row">
        <label  class="col-sm-2 col-form-label">Phân loại:</label>
          <div class="col-sm-10">
            <input list="phanloaitmh" class="form-control" name="phanloaitmh" [(ngModel)]="taimuihong1.taimuihong_selectbox_phanloai"
            [ngModelOptions]="{standalone: true}"/>
          <datalist id="phanloaitmh">
            <option value="Phân loại 1">Phân loại 1</option>
            <option value="Phân loại 2">Phân loại 2</option>
            <option value="Phân loại 3">Phân loại 3</option>
            <option value="Phân loại 4">Phân loại 4</option>
            <option value="Phân loại 5">Phân loại 5</option>
          </datalist>
          </div>
      </div> -->
      <p>-Kết quả khám thính lực (Có thể sử dụng máy trợ thính):</p>
      <div class="row">
        <div class="col-6">
          <div class="form-group row">
            <div class="input-group">
              <label for="chieucao" class="col-sm-2 col-form-label">Tai trái:</label>
            <input type="text" class="col-sm-2 form-control" aria-label="Amount (to the nearest dollar)"[(ngModel)]="taimuihong1.taimuihong_text_taitrai"
            [ngModelOptions]="{standalone: true}">
            <div class="input-group-append">
              <span class="input-group-text">m</span>
            </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group row">
            <div class="input-group">
              <label for="chieucao" class="col-sm-2 col-form-label">Nói thầm:</label>
            <input type="text" class="col-sm-2 form-control" aria-label="Amount (to the nearest dollar)"[(ngModel)]="taimuihong1.taimuihong_text_taitrai_noitham"
            [ngModelOptions]="{standalone: true}">
            <div class="input-group-append">
              <span class="input-group-text">m</span>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group row">
            <div class="input-group">
              <label for="chieucao" class="col-sm-2 col-form-label">Tai phải:</label>
            <input type="text" class="col-sm-2 form-control" aria-label="Amount (to the nearest dollar)"[(ngModel)]="taimuihong1.taimuihong_text_taiphai"
            [ngModelOptions]="{standalone: true}">
            <div class="input-group-append">
              <span class="input-group-text">m</span>
            </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group row">
            <div class="input-group">
              <label for="chieucao" class="col-sm-2 col-form-label">Nói thầm:</label>
            <input type="text" class="col-sm-2 form-control" aria-label="Amount (to the nearest dollar)"[(ngModel)]="taimuihong1.taimuihong_text_taiphai_noitham"
            [ngModelOptions]="{standalone: true}">
            <div class="input-group-append">
              <span class="input-group-text">m</span>
            </div>
            </div>
          </div>
        </div>
      </div>
      <p>Các bệnh về Tai mũi họng (nếu có)</p>
      <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" [(ngModel)]="taimuihong1.taimuihong_selectbox_phanloai"
        [ngModelOptions]="{standalone: true}"></textarea>
      </div>
      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">Kết luận:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="taimuihong1.taimuihong_text_taimuihong_ketluan"
          [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="form-group " style="display: flex !important;justify-content: space-around !important;">
        <button class="btn btn-primary">Lưu thông tin</button>
      </div>
    </div>
  </fieldset>
</form>