<!-- <h2 style="text-align: center;">Khám lâm sàn</h2>
<div class="container" *ngIf="data">
    <div (click)="isTuanHoan2 = !isTuanHoan2" [attr.aria-expanded]="!isTuanHoan2" aria-controls="collapseBasic">
        <h4>1. Tuần Hoàn</h4>
    </div>
    <hr>
    <div id="collapseBasic" [collapse]="isTuanHoan2" [isAnimated]="true">
        <div class="well well-lg card card-block card-header">
            <app-tuan-hoan  [Data]="data" [statusDataCheck]="statusDataCheck2"></app-tuan-hoan>
        </div>
    </div>
    <div (click)="isHoHap2 = !isHoHap2" [attr.aria-expanded]="!isHoHap2" aria-controls="collapseBasic">
        <h4>2. Hô hấp</h4>
    </div>
    <hr>
    <div id="collapseBasic" [collapse]="isHoHap2" [isAnimated]="true">
        <div class="well well-lg card card-block card-header">
            <app-ho-hap2 [Data]="data" [statusDataCheck]="statusDataCheck2"></app-ho-hap2>
        </div>
    </div>
    <div (click)="isTieuHoa2 = !isTieuHoa2" [attr.aria-expanded]="!isTieuHoa2" aria-controls="collapseBasic">
        <h4>2. Tiêu hóa</h4>
    </div>
    <hr>
    <div id="collapseBasic" [collapse]="isTieuHoa2" [isAnimated]="true">
        <div class="well well-lg card card-block card-header">
            <app-tieu-hoa [Data]="data" [statusDataCheck]="statusDataCheck2"></app-tieu-hoa>
        </div>
    </div>
    <div (click)="isThan2 = !isThan2" [attr.aria-expanded]="!isThan2" aria-controls="collapseBasic">
        <h4>4. Thận tiết niệu</h4>
    </div>
    <hr>
    <div id="collapseBasic" [collapse]="isThan2" [isAnimated]="true">
        <div class="well well-lg card card-block card-header">
            <app-than-tiet-nieu [Data]="data" [statusDataCheck]="statusDataCheck2"></app-than-tiet-nieu>
        </div>
    </div>
    <div (click)="isThanKinh2 = !isThanKinh2" [attr.aria-expanded]="!isThanKinh2" aria-controls="collapseBasic">
        <h4>5. Thần kinh - Tâm thần</h4>
    </div>
    <hr>
    <div id="collapseBasic" [collapse]="isThanKinh2" [isAnimated]="true">
        <div class="well well-lg card card-block card-header">
            <app-than-kinh2 [Data]="data" [statusDataCheck]="statusDataCheck2"></app-than-kinh2>
        </div>
    </div>
    
    <div (click)="isNgoaiKhoa2 = !isNgoaiKhoa2" [attr.aria-expanded]="!isNgoaiKhoa2" aria-controls="collapseBasic">
        <h4>6. Khám lâm sàn khác</h4>
    </div>
    <hr>
    <div id="collapseBasic" [collapse]="isNgoaiKhoa2" [isAnimated]="true">
        <div class="well well-lg card card-block card-header">
            <app-ngoai-khoa [Data]="data" [statusDataCheck]="statusDataCheck2"></app-ngoai-khoa>
        </div>
    </div>
    
    <div (click)="isMat2 = !isMat2" [attr.aria-expanded]="!isMat2" aria-controls="collapseBasic">
        <h4>10. Mắt</h4>
    </div>
    <hr>
    <div id="collapseBasic" [collapse]="isMat2" [isAnimated]="true">
        <div class="well well-lg card card-block card-header">
            <app-mat2 [Data]="data" [statusDataCheck]="statusDataCheck2"></app-mat2>

        </div>
    </div>
    <div (click)="isTaiMuiHong2 = !isTaiMuiHong2" [attr.aria-expanded]="!isTaiMuiHong2" aria-controls="collapseBasic">
        <h4>11. Tai mũi họng</h4>
    </div>
    <hr>
    <div id="collapseBasic" [collapse]="isTaiMuiHong2" [isAnimated]="true">
        <div class="well well-lg card card-block card-header">
            <app-tai-mui-hong2  [Data]="data" [statusDataCheck]="statusDataCheck2"></app-tai-mui-hong2>

        </div>
    </div>
    <div (click)="isRangHamMat2 = !isRangHamMat2" [attr.aria-expanded]="!isRangHamMat2" aria-controls="collapseBasic">
        <h4>12. Răng hàm mặt</h4>
    </div>
    <hr>
    <div id="collapseBasic" [collapse]="isRangHamMat2" [isAnimated]="true">
        <div class="well well-lg card card-block card-header">
            <app-rang-ham-mat  [Data]="data" [statusDataCheck]="statusDataCheck2"></app-rang-ham-mat>

        </div>
    </div>
</div> -->