<form autocomplete="off" #createMat1="ngForm" (ngSubmit)="mySave()">
  <fieldset [disabled]="!this._permissionChecker.isGranted('Pages.' +this.inputModel.group)">
    <div>

      <p>-Kết quả khám :</p>
      <div class="row">
        <div class="col-12">
          <div class="form-group row">
            <div class="input-group">
              <label for="" class="col-sm-2 col-form-label">Hàm trên:</label>
            <input type="text" list="hamtren" class="col-sm-10 form-control" aria-label="Amount (to the nearest dollar)"[(ngModel)]="inputModel.content['text_hamtren'].value"
            [ngModelOptions]="{standalone: true}">
            <datalist id="hamtren">
              <option value="Bình thường">Bình thường</option>
              <option value="Mất ... răng">Mất ... răng</option>
            </datalist>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group row">
            <div class="input-group">
              <label for="" class="col-sm-2 col-form-label">Hàm dưới:</label>
            <input type="text" list="hamduoi" class="col-sm-10 form-control" aria-label="Amount (to the nearest dollar)"[(ngModel)]="inputModel.content['text_hamduoi'].value"
            [ngModelOptions]="{standalone: true}">
            <datalist id="hamduoi">
              <option value="Bình thường">Bình thường</option>
              <option value="Mất ... răng">Mất ... răng</option>
            </datalist>
            </div>
          </div>
        </div>
      </div>
      <p>Các bệnh về Răm hàm mặt (nếu có)</p>
      <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" [(ngModel)]="inputModel.content['text_cbvrhm'].value"
        [ngModelOptions]="{standalone: true}"></textarea>
      </div>
      <div class="form-group row" *ngIf="check!=3">
        <label  class="col-sm-2 col-form-label">Phân loại:</label>
          <div class="col-sm-10">
            <input list="phanloairhm" class="form-control" name="phanloairhm" [(ngModel)]="inputModel.content['text_phanloai'].value"
            [ngModelOptions]="{standalone: true}"/>
          <datalist id="phanloairhm">
            <option value="Loại I">Loại I</option>
            <option value="Loại II">Loại II</option>
            <option value="Loại III">Loại III</option>
            <option value="Loại IV">Loại IV</option>
            <option value="Loại V">Loại V</option>
          </datalist>
          </div>
      </div>
      <div class="form-group " style="display: flex !important;justify-content: space-around !important;">
        <ng-container *ngIf="inputModel.status == 0 ||  inputModel.status == 2">
          <button  class="btn btn-danger">Lưu thông tin</button>
        </ng-container>
        <ng-container *ngIf="inputModel.status == 1">
          <button  class="btn btn-success">Đã nhập thông tin</button>
        </ng-container>
      </div>
    </div>
  </fieldset>
</form>
