<form class="form-horizontal" autocomplete="off" #createRoleForm="ngForm" (ngSubmit)="save()">
  <div class="modal-body text-center">
    <div class="form-group row">
      <div class="col-12" *ngIf="!sysImage">
        <webcam [trigger]="invokeObservable" (imageCapture)="captureImg($event)"></webcam>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-12" *ngIf="!sysImage">
        <button class="btn btn-primary" type="button" (click)="getSnapshot()">
          Chụp hình
        </button>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-12" *ngIf="sysImage">
        <img [src]="webcamImage?.imageAsDataUrl" />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-12" *ngIf="sysImage">
        <button class="btn btn-danger" type="button" (click)="resetSnapshot()">
          Chụp lại
        </button>
      </div>
    </div>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!sysImage || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>
