<form autocomplete="off" #createMat1="ngForm" (ngSubmit)="mySave()">
  <fieldset [disabled]="!this._permissionChecker.isGranted('Pages.' +this.inputModel.group)">
    <div>
      <p>3. Mắt</p>
      <p>-Thị lực nhìn xa từng mắt:</p>
      <p>+Không kính:</p>
      <div class="row">
        <div class="col-6">
          <div class="form-group row">
            <div class="input-group">
              <label for="" class="col-sm-3 col-form-label">Mắt trái:</label>
              <select class="form-control col-sm-2" [(ngModel)]="inputModel.content['text_kk_mt'].value" [ngModelOptions]="{standalone: true}">
                <option value="1/10">1</option>
                <option value="2/10">2</option>
                <option value="3/10">3</option>
                <option value="4/10">4</option>
                <option value="5/10">5</option>
                <option value="6/10">6</option>
                <option value="7/10">7</option>
                <option value="8/10">8</option>
                <option value="9/10">9</option>
                <option value="10/10">10</option>
              </select>
              <div class="input-group-append">
                <span class="input-group-text">/10</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group row">
            <div class="input-group">
              <label for="" class="col-sm-3 col-form-label">Mắt phải:</label>
              <select class="form-control col-sm-2" [(ngModel)]="inputModel.content['text_kk_mp'].value" [ngModelOptions]="{standalone: true}">
                <option value="1/10">1</option>
                <option value="2/10">2</option>
                <option value="3/10">3</option>
                <option value="4/10">4</option>
                <option value="5/10">5</option>
                <option value="6/10">6</option>
                <option value="7/10">7</option>
                <option value="8/10">8</option>
                <option value="9/10">9</option>
                <option value="10/10">10</option>
              </select>
              <div class="input-group-append">
                <span class="input-group-text">/10</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p>+Có kính:</p>
      <div class="row">
        <div class="col-6">
          <div class="form-group row">
            <div class="input-group">
              <label for="" class="col-sm-3 col-form-label">Mắt trái:</label>
              <select class="form-control col-sm-2" [(ngModel)]="inputModel.content['text_ck_mt'].value" [ngModelOptions]="{standalone: true}">
                <option value="1/10">1</option>
                <option value="2/10">2</option>
                <option value="3/10">3</option>
                <option value="4/10">4</option>
                <option value="5/10">5</option>
                <option value="6/10">6</option>
                <option value="7/10">7</option>
                <option value="8/10">8</option>
                <option value="9/10">9</option>
                <option value="10/10">10</option>
              </select>
              <div class="input-group-append">
                <span class="input-group-text">/10</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group row">
            <div class="input-group">
              <label for="" class="col-sm-3 col-form-label">Mắt phải:</label>
              <select class="form-control col-sm-2" [(ngModel)]="inputModel.content['text_ck_mp'].value" [ngModelOptions]="{standalone: true}">
                <option value="1/10">1</option>
                <option value="2/10">2</option>
                <option value="3/10">3</option>
                <option value="4/10">4</option>
                <option value="5/10">5</option>
                <option value="6/10">6</option>
                <option value="7/10">7</option>
                <option value="8/10">8</option>
                <option value="9/10">9</option>
                <option value="10/10">10</option>
              </select>
              <div class="input-group-append">
                <span class="input-group-text">/10</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p>-Thị lực nhìn xa 2 mắt</p>
      <div class="row">
        <div class="col-6">
          <div class="form-group row">
            <div class="input-group">
              <label for="" class="col-sm-3 col-form-label">Có kính:</label>
              <select class="form-control col-sm-2" [(ngModel)]="inputModel.content['text_2m_ck'].value" [ngModelOptions]="{standalone: true}">
                <option value="1/10">1</option>
                <option value="2/10">2</option>
                <option value="3/10">3</option>
                <option value="4/10">4</option>
                <option value="5/10">5</option>
                <option value="6/10">6</option>
                <option value="7/10">7</option>
                <option value="8/10">8</option>
                <option value="9/10">9</option>
                <option value="10/10">10</option>
              </select>
              <div class="input-group-append">
                <span class="input-group-text">/10</span>
              </div>
            </div>

          </div>
        </div>
        <div class="col-6">
          <div class="form-group row">
            <div class="input-group">
              <label for="" class="col-sm-3 col-form-label">Không kính:</label>
              <select class="form-control col-sm-2" [(ngModel)]="inputModel.content['text_2m_kk'].value" [ngModelOptions]="{standalone: true}">
                <option value="1/10">1</option>
                <option value="2/10">2</option>
                <option value="3/10">3</option>
                <option value="4/10">4</option>
                <option value="5/10">5</option>
                <option value="6/10">6</option>
                <option value="7/10">7</option>
                <option value="8/10">8</option>
                <option value="9/10">9</option>
                <option value="10/10">10</option>
              </select>
              <div class="input-group-append">
                <span class="input-group-text">/10</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p>-Thị trường:</p>
      <div>
        <table class="table-bordered">
          <thead>
            <tr>
              <th colspan="2">Thị trường ngang 2 mắt (chiều mũi - thái dương)</th>
              <th colspan="2">Thị trường đứng (chiều trên - dưới)</th>
            </tr>
            <tr>
              <th>Bình thường</th>
              <th>Hạn chế</th>
              <th>Bình thường</th>
              <th>Hạn chế</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: center;">
                <input type="radio" [(ngModel)]="inputModel.content['radio_thitruong_ngang'].value" [ngModelOptions]="{standalone: true}"
                  name="thitruong_ngang" id="thitruong_ngang1" value="bth">
              </td>
              <td style="text-align: center;">
                <input type="radio" [(ngModel)]="inputModel.content['radio_thitruong_ngang'].value" [ngModelOptions]="{standalone: true}"
                  name="thitruong_ngang" id="thitruong_ngang2" value="hc">
              </td>
              <td style="text-align: center;">
                <input type="radio" [(ngModel)]="inputModel.content['radio_thitruong_dung'].value" [ngModelOptions]="{standalone: true}"
                  name="thitruong_dung" id="thitruong_dung1" value="bth">
              </td>
              <td style="text-align: center;">
                <input type="radio" [(ngModel)]="inputModel.content['radio_thitruong_dung'].value" [ngModelOptions]="{standalone: true}"
                  name="thitruong_dung" id="thitruong_dung2" value="hc">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>Sắc giác</p>
      <div class="row">
        <div class="col-12">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" [(ngModel)]="inputModel.content['checkbox_bth'].value"
              [ngModelOptions]="{standalone: true}" name="sacgiac" id="sacgiac" value="bth">
            <label class="form-check-label" for="sacgiac">Bình thường</label>
          </div>
        </div>
        <div class="col-12">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" [(ngModel)]="inputModel.content['checkbox_mumau_all'].value"
              [ngModelOptions]="{standalone: true}" name="mat_checkbox_mumau_all" id="mat_checkbox_mumau_all"
              value="mm">
            <label class="form-check-label" for="mat_checkbox_mumau_all">Mù màu toàn bộ</label>
          </div>
        </div>
        <div class="col-12">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" [(ngModel)]="inputModel.content['checkbox_mumau_do'].value"
              name="mat_checkbox_mumau_do" id="mat_checkbox_mumau_do" value="mmd">
            <label class="form-check-label" for="mat_checkbox_mumau_do">Mù màu - Đỏ</label>
          </div>

        </div>
        <div class="col-12">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" [(ngModel)]="inputModel.content['checkbox_mumau_xanh'].value"
              name="mat_checkbox_mumau_xanh" id="mat_checkbox_mumau_xanh" value="mmx">
            <label class="form-check-label" for="mat_checkbox_mumau_xanh">Mù màu - Xanh lá cây</label>
          </div>
        </div>
        <div class="col-12">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" [(ngModel)]="inputModel.content['checkbox_mumau_vang'].value" name="mumau_vang"
              id="mumau_vang" value="mmv">
            <label class="form-check-label" for="inlineRadio2">Mù màu - Vàng</label>
          </div>
        </div>
      </div>
      <p>Các bệnh về mắt (nếu có)</p>
      <div class="form-group">
        <input class="form-control" list="bvm" rows="4" [(ngModel)]="inputModel.content['text_cbvm'].value"
          [ngModelOptions]="{standalone: true}">
          <datalist id="bvm">
            <option value="Không">Không</option>
            <option value="Tật khúc xạ 2 mắt">Tật khúc xạ 2 mắt</option>
            <option value="Tật khúc xạ mắt trái">Tật khúc xạ mắt trái</option>
            <option value="Tật khúc xạ mắt phải">Tật khúc xạ mắt phải</option>
            <option value="Nhận biết sáng tối">Nhận biết sáng tối</option>
            <option value="ĐNT">ĐNT</option>
            <option value="BBT">BBT</option>

          </datalist>
          <!-- <ul class="list-group" *ngIf="showDropdown">(click)="showDropdown"  (input)="filterData(inputModel.content['text_cbvm'].value)"
            <li class="list-group-item" *ngFor="let option of filteredOptions" (click)="selectOption(option)">{{ option }}</li>
          </ul> -->
      </div>
      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">Kết luận:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="" [(ngModel)]="inputModel.content['text_ketluan'].value"
            [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="form-group " style="display: flex !important;justify-content: space-around !important;">
        <ng-container *ngIf="inputModel.status == 0 ||  inputModel.status == 2">
          <button  class="btn btn-danger">Lưu thông tin</button>
        </ng-container>
        <ng-container *ngIf="inputModel.status == 1">
          <button  class="btn btn-success">Đã nhập thông tin</button>
        </ng-container>
      </div>
    </div>
  </fieldset>
</form>
