<div class="container">
  <p>1. Xét nghiệm máu:</p>
  <p>a. Công thức máu:</p>
  <form  autocomplete="off"
  #createTuanHoan1="ngForm"
  (ngSubmit)="mySave()">
    <fieldset>
      <div class="form-group row">
        <div class="input-group">
          <label for="chieucao" class="col-sm-2 col-form-label">Số lượng HC</label>
          <input type="text" class="col-sm-10 form-control" aria-label="Amount (to the nearest dollar)"[(ngModel)]="inputModel.content['text_hongcau'].value"
          [ngModelOptions]="{standalone: true}">
          <div class="input-group-append">
            <span class="input-group-text">x10^12/l</span>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="input-group">
          <label for="chieucao" class="col-sm-2 col-form-label">Số lượng Bạch cầu</label>
          <input type="text" class="col-sm-10 form-control" aria-label="Amount (to the nearest dollar)"[(ngModel)]="inputModel.content['text_bachcau'].value"
          [ngModelOptions]="{standalone: true}">
          <div class="input-group-append">
            <span class="input-group-text">x10^9/l</span>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="input-group">
          <label for="chieucao" class="col-sm-2 col-form-label">Số lượng Tiểu cầu</label>
          <input type="text" class="col-sm-10 form-control" aria-label="Amount (to the nearest dollar)"[(ngModel)]="inputModel.content['text_tieucau'].value"
          [ngModelOptions]="{standalone: true}">
          <div class="input-group-append">
            <span class="input-group-text">x10^9/l</span>
          </div>
        </div>
      </div>
      <p>b. Sinh hóa máu</p>
      <div class="form-group row">
        <div class="input-group">
          <label for="chieucao" class="col-sm-2 col-form-label">Đường máu</label>
          <input type="text" class="col-sm-10 form-control" aria-label="Amount (to the nearest dollar)"[(ngModel)]="inputModel.content['text_duongmau'].value"
          [ngModelOptions]="{standalone: true}">
          <div class="input-group-append">
            <span class="input-group-text">mmol/l</span>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="input-group">
          <label for="chieucao" class="col-sm-2 col-form-label">Urê</label>
          <input type="text" class="col-sm-10 form-control" aria-label="Amount (to the nearest dollar)"[(ngModel)]="inputModel.content['text_ure'].value"
          [ngModelOptions]="{standalone: true}">
          <div class="input-group-append">
            <span class="input-group-text">mmol/l</span>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="input-group">
          <label for="chieucao" class="col-sm-2 col-form-label">Creatinin</label>
          <input type="text" class="col-sm-10 form-control" aria-label="Amount (to the nearest dollar)"[(ngModel)]="inputModel.content['text_creatinin'].value"
          [ngModelOptions]="{standalone: true}">
          <div class="input-group-append">
            <span class="input-group-text">umol/l</span>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="input-group">
          <label for="chieucao" class="col-sm-2 col-form-label">ASAT(GOT)</label>
          <input type="text" class="col-sm-10 form-control" aria-label="Amount (to the nearest dollar)"[(ngModel)]="inputModel.content['text_asat'].value"
          [ngModelOptions]="{standalone: true}">
          <div class="input-group-append">
            <span class="input-group-text">U/L</span>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="input-group">
          <label for="chieucao" class="col-sm-2 col-form-label">ALAT(GPT)</label>
          <input type="text" class="col-sm-10 form-control" aria-label="Amount (to the nearest dollar)"[(ngModel)]="inputModel.content['text_alat'].value"
          [ngModelOptions]="{standalone: true}">
          <div class="input-group-append">
            <span class="input-group-text">U/L</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">c. Khác (Nếu có)</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"[(ngModel)]="inputModel.content['text_khac'].value"
        [ngModelOptions]="{standalone: true}"></textarea>
      </div>
      <div class="form-group " style="display: flex !important;justify-content: space-around !important;">
        <ng-container *ngIf="inputModel.status == 0 ||  inputModel.status == 2">
          <button  class="btn btn-danger">Lưu thông tin</button>
        </ng-container>
        <ng-container *ngIf="inputModel.status == 1">
          <button  class="btn btn-success">Đã nhập thông tin</button>
        </ng-container>
      </div>
    </fieldset>
  </form>
</div>