<div (click)="expandStatus = !expandStatus" [attr.aria-expanded]="!expandStatus" aria-controls="collapseBasic" class="" >
  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col-1" style="display: flex;align-items: center;"> <i class="fa fa-circle fa-sm"  [style.color]="getBackgroundColor(status)"></i></div>
        <div class="col-11">
      
          <h4> {{title}} </h4>
        </div>
      </div>
     
    </div>
    
  </div>
</div>
<hr>
<div id="collapseBasic" [collapse]="expandStatus" [isAnimated]="true">
  <div class="well well-lg card card-block card-header">
    <ng-content></ng-content>
  </div>
</div>
