<div class="container">
<form autocomplete="off"
#createTuanHoan1="ngForm"
(ngSubmit)="save()">
  <fieldset [disabled]="!isEditable2">
    <div class="form-group">
      <label for="exampleFormControlTextarea1"></label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"[(ngModel)]="chuandoanhinhanh3.chandoanhinhanh_text_ketluan"
      [ngModelOptions]="{standalone: true}"></textarea>
    </div>
    <div class="form-group row">
      <button class="btn btn-primary">Lưu thông tin</button>
    </div>
  </fieldset>
</form>
</div>