<h2 style="text-align: center;">Giấy khám sức khỏe dùng cho người đủ 18 tuổi trở lên</h2>
<div class="container" *ngIf="dataModel ">
  <app-thong-tin-ca-nhan *ngIf="profile && profile.clientInfo">
    <app-profile [profile]="profile"></app-profile>
  </app-thong-tin-ca-nhan>

  <app-khoa-wrapper title="Khám thể lực" [status]="-1">
    <app-physical-examination  [Data]="dataModel.khamtheluc"
    [save]="save"></app-physical-examination>
  </app-khoa-wrapper>


  <app-khoa-wrapper title="Khám lâm sàn" [status]="-1">
    <app-clinical-examination18max [Data]="dataModel" [checkgiay]="profile.certificateTypeId"
    [save]="save"
    ></app-clinical-examination18max>
  </app-khoa-wrapper>

  <app-khoa-wrapper title="Khám cận lâm sàn" [status]="-1" >
    <app-subclinical-examination-type18max [Data]="dataModel" [checkgiay]="profile.certificateTypeId"
    [save]="save"></app-subclinical-examination-type18max>
  </app-khoa-wrapper>

  <app-khoa-wrapper title="Kết luận" [status]="-1">
    <app-ket-luan-giay-kham [defaultModel]="du18Model" [Data]="dataModel.ketluan"  [huyketluan]="huyketluan"
    [save]="saveKL" ></app-ket-luan-giay-kham>
  </app-khoa-wrapper>

  <div class="row" style="display: flex; justify-content: space-around;">
    <app-appove1 [Data]="dataModel.ketluan" [tdv]="dataModel.tdv" [approve]="approve" [unapprove]="unapprove" 
     ></app-appove1>
     <button class="btn btn-primary" (click)="Print()" *ngIf="dataModel.tdv.status">Print</button>
  </div>
</div>
