<div class="container-fluid">
  <div class="card">
  <h2 style="text-align: center;">TIỀN SỬ BỆNH TẬT</h2>
<div class="container">
  <h3>1. Tiền sử gia đình</h3>
  <p>Có ai trong gia đình (ông, bà, bố, mẹ, anh, chị, em) mắc một trong số các bệnh truyền nhiễm</p>
  <div class="row">
    <div class="col-4">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">a. Không</label>
        </div>
        
    </div>
    <div class="col-4">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">b. có</label>
      </div>
    </div>
    <div class="col-8"></div>
    <div class="col-12">
      
      <input type="text" class="form-control" placeholder="Nếu 'có' đề nghị ghi cụ thể tên bệnh">
    </div>
  </div>
  <h3>2. Tiền sử bản thân</h3>
  <p>a. Sản khoa</p>
  <p>- Bình thường</p>
  <p>- Không bình thường: Đẻ thiếu tháng, Đẻ thừa tháng, Đẻ có can thiệp, Đẻ ngạt, Mẹ bị bệnh trong thời kì mang thai (Nếu có cần ghi rõ bệnh)</p>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Nếu 'có' đề nghị ghi cụ thể tên bệnh">
    </div>
  </div>
  <p>b. Tiêm chủng</p>
  <div>
    <table class="table-bordered">
      <thead>
        <tr>
          <th rowspan="2">STT</th>
          <th rowspan="2">Loại vắc xin</th>
          <th colspan="3">Tình trạng tiêm/ uống vacxin</th>
        </tr>
        <tr>
          <th colspan="1">Có</th>
          <th colspan="1">Không</th>
          <th colspan="1">Không nhớ rõ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>BGG</td>
          <td style="text-align: center;">
            <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
          </td>
          <td style="text-align: center;">
            <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
          </td>
          <td style="text-align: center;">
            <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
          </td>
          
        </tr>
        <tr>
          <td>2</td>
          <td>Bạch cầu, ho gà, uốn ván</td>
          <td style="text-align: center;">
            <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
          </td>
          <td style="text-align: center;">
            <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
          </td>
          <td style="text-align: center;">
            <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
          </td>
        </tr><tr>
          <td>3</td>
          <td>Sởi</td>
          <td style="text-align: center;">
            <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
          </td>
          <td style="text-align: center;">
            <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
          </td>
          <td style="text-align: center;">
            <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
          </td>
        </tr><tr>
          <td>4</td>
          <td>Bại liệt</td>
          <td style="text-align: center;">
            <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
          </td>
          <td style="text-align: center;">
            <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
          </td>
          <td style="text-align: center;">
            <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
          </td>
        </tr><tr>
          <td>5</td>
          <td>Viêm não Nhật bản B</td>
          <td style="text-align: center;">
            <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
          </td>
          <td style="text-align: center;">
            <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
          </td>
          <td style="text-align: center;">
            <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
          </td>
        </tr><tr>
          <td>6</td>
          <td>Viêm gan B</td>
          <td style="text-align: center;">
            <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
          </td>
          <td style="text-align: center;">
            <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
          </td>
          <td style="text-align: center;">
            <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
          </td>
        </tr><tr>
          <td>7</td>
          <td>Các loại khác</td>
          <td style="text-align: center;">
            <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
          </td>
          <td style="text-align: center;">
            <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
          </td>
          <td style="text-align: center;">
            <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>c. Tiền sử bệnh/tật: (Các bệnh bẩm sinh và mãn tính)</p>
  <div class="row">
    <div class="col-2">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">a. Không</label>
        </div>
        
    </div>
    <div class="col-2">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">b. có</label>
      </div>
    </div>
    <div class="col">
      
      <input type="text" class="form-control" placeholder="Nếu 'có' đề nghị ghi cụ thể tên bệnh">
    </div>
  </div>
  <p>d. Hiện tại có đang dùng thuốc gì không? Nếu có, ghi rõ và liệt kê các thuốc đang dùng</p>
  <div class="col">
      
    <input type="text" class="form-control" placeholder="Nếu 'có' đề nghị ghi cụ thể tên bệnh">
  </div>
</div>
</div>
</div>