<h2 style="text-align: center;">TIỀN SỬ BỆNH CỦA ĐỐI TƯỢNG KHÁM SỨC KHỎE</h2>
<div class="container">
  <h3>1. Tiền sử gia đình</h3>
  <p>Có ai trong gia đình ông (bà) mắc một trong số các bệnh: Truyền nhiễm, tim mạch, đái tháo đường, lao, hen phế quản, ung thư, động kinh, rối loạn tâm thần, bệnh khác:</p>
  <div class="row">
    <div class="col-2">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">a. Không</label>
        </div>
        
    </div>
    <div class="col-2">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">b. có</label>
      </div>
    </div>
    <div class="col">
      
      <input type="text" class="form-control" placeholder="Nếu 'có' đề nghị ghi cụ thể tên bệnh">
    </div>
  </div>
  <h3>2. Tiền sử bản thân</h3>
  <p>Ông (bà) đã/ đang mắc bệnh, tình trạng bệnh nào sau đây không: Truyền nhiễm, tim mạch, đái tháo đường, lao, hen phế quản, ung thư, động kinh, rối loạn tâm thần, bệnh khác:</p>
  <div class="row">
    <div class="col-2">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">a. Không</label>
        </div>
        
    </div>
    <div class="col-2">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">b. có</label>
      </div>
    </div>
    <div class="col">
      
      <input type="text" class="form-control" placeholder="Nếu 'có' đề nghị ghi cụ thể tên bệnh">
    </div>
  </div>
  <h3>Câu hỏi khác (nếu có)</h3>
  <p>a. Ông bà có đang điều trị bệnh gì không? Nếu có, xin hãy liệt kê các thuốc đang dùng và liều lượng:</p>
  <input type="text" name="" class="form-control">
  <p>b. Tiền sử thai sản (Đối với phụ nữ)</p>
  <input type="text" class="form-control">
</div>