<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>{{ "HomePage" | localize }}</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-info alert-dismissible">
                        <h6><i class="icon fa fa-info"></i> Trang đang trong quá trình hoàn thiện, dữ liệu chỉ mang tính chất minh họa.</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>150</h3>
                            <p>Lượt khám</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-star"></i>
                        </div>
                        <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/stargazers" class="small-box-footer" target="_blank">
              Chi tiết
              <i class="fas fa-arrow-circle-right"></i>
            </a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>21</h3>
                            <p>Giấy khám lái xe</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/graphs/contributors" class="small-box-footer" target="_blank">
              Chi tiết
              <i class="fas fa-arrow-circle-right"></i>
            </a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>15</h3>
                            <p>Giấy khám người dưới 18</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-tools"></i>
                        </div>
                        <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/dependents" class="small-box-footer" target="_blank">
              Chi tiết
              <i class="fas fa-arrow-circle-right"></i>
            </a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-primary">
                        <div class="inner">
                            <h3>115</h3>
                            <p>Giấy khám người đủ 18</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-code"></i>
                        </div>
                        <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/members" class="small-box-footer" target="_blank">
              Chi tiết
              <i class="fas fa-arrow-circle-right"></i>
            </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-primary elevation-1">
              <i class="fas fa-plus-circle"></i>
            </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Tổng doanh thu</span>
                            <span class="info-box-number">
                16.350.000 VNĐ
              </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-warning elevation-1">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Đã đồng bộ BHXH</span>
                            <span class="info-box-number">
                170
              </span>
                        </div>
                    </div>
                </div>
                <div class="clearfix hidden-md-up"></div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-info elevation-1">
              <i class="fas fa-tag"></i>
            </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Chưa đồng bộ BHXH</span>
                            <span class="info-box-number">
                5
              </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-success elevation-1">
              <i class="fas fa-eye"></i>
            </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Đang khám</span>
                            <span class="info-box-number">
                15
              </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Các lượt đang khám</h3>
                        </div>
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead class="bg-light">
                                    <tr>
                                        <th>Id</th>
                                        <th class="w-25">Tên đối tượng khám</th>
                                        <th class="w-25">Thông tin khác</th>
                                        <th>Giờ khám</th>
                                        <th>Bác sĩ đang khám</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5452" target="_blank">
                        5452
                      </a>
                                        </td>
                                        <td>Nguyễn Văn A</td>
                                        <td>
                                            <span class="badge badge-secondary mx-1">
                        Tai mũi họng
                      </span>
                                            <span class="badge badge-primary mx-1">
                        Mắt
                      </span>
                                        </td>
                                        <td>10:30</td>
                                        <td>Bác sĩ mắt</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5391" target="_blank">
                        5391
                      </a>
                                        </td>
                                        <td>
                                            Nguyễn Văn B
                                        </td>
                                        <td>
                                            <span class="badge badge-danger mx-1">
                        Tim mạch
                      </span>
                                            <span class="badge badge-success mx-1">
                        Thần kinh
                      </span>
                                        </td>
                                        <td>08:25</td>
                                        <td>Bác sĩ tim mạch</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5390" target="_blank">
                        5390
                      </a>
                                        </td>
                                        <td>Nguyễn Văn C</td>
                                        <td>
                                            <span class="badge badge-warning mx-1">
                        Thần kinh
                      </span>
                                            <span class="badge badge-info mx-1">Hô hấp</span>
                                        </td>
                                        <td>13:30</td>
                                        <td>Bác sĩ hô hấp</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>