<form autocomplete="off"
#createxetnghiemmatuyvamau="ngForm"
(ngSubmit)="mySave()">
  <fieldset [disabled]="!this._permissionChecker.isGranted('Pages.' +this.inputModel.group)" >
    <div class="container">
      <p>1. Các xét nghiệm bắt buộc</p>
      <p>a. Xét nghiệm ma túy</p>
      <div class="form-group row">
        <label for="fullname" class="col-sm-2 col-form-label">Số thứ tự</label>
        <div class="col-sm-10">
          <input type="text"  class="form-control"[(ngModel)]="inputModel.content['text_stt'].value"
          [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="form-group row">
        <label for="fullname" class="col-sm-3 col-form-label">Test Morphin/Heroin</label>
        <div class="col-sm-9 row">
          <div class="form-check col-6" *ngFor="let item of optionXetNghiemMaTuys">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="text_morphin " [(ngModel)]="inputModel.content['text_morphin'].realValue"
              [ngModelOptions]="{standalone: true}" value="{{item.realvalue}}"> {{item.value}}
            </label>
          </div>
        </div>
      </div><div class="form-group row">
        <label for="fullname" class="col-sm-3 col-form-label">Test Amphetamin</label>
        <div class="col-sm-9 row">
          <div class="form-check col-6" *ngFor="let item of optionXetNghiemMaTuys">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="text_amphetamin" [(ngModel)]="inputModel.content['text_amphetamin'].realValue"
              [ngModelOptions]="{standalone: true}" value="{{item.realvalue}}"> {{item.value}}
            </label>
          </div>
        </div>
      </div><div class="form-group row">
        <label for="fullname" class="col-sm-3 col-form-label">Test Methamphetamin</label>
        <div class="col-sm-9 row">
          <div class="form-check col-6" *ngFor="let item of optionXetNghiemMaTuys">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="text_methamphetamin" [(ngModel)]="inputModel.content['text_methamphetamin'].realValue"
              [ngModelOptions]="{standalone: true}" value="{{item.realvalue}}"> {{item.value}}
            </label>
          </div>
        </div>
      </div><div class="form-group row">
        <label for="fullname" class="col-sm-3 col-form-label">Test Marijuana (cần sa)</label>
        <div class="col-sm-9 row">
          <div class="form-check col-6" *ngFor="let item of optionXetNghiemMaTuys">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="text_marijuana" [(ngModel)]="inputModel.content['text_marijuana'].realValue"
              [ngModelOptions]="{standalone: true}" value="{{item.realvalue}}"> {{item.value}}
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <p>b. Xét nghiệm nồng độ máu hoặc hơi thở</p>
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="inputModel.content['text_nongdomau'].value"
      [ngModelOptions]="{standalone: true}">
      <div class="input-group-append">
        <span class="input-group-text">mg/l</span>
      </div>
      </div>
      </div>

      <div class="form-group " style="display: flex !important;justify-content: space-around !important;">
        <ng-container *ngIf="inputModel.status == 0 ||  inputModel.status == 2">
          <button  class="btn btn-danger">Lưu thông tin</button>
        </ng-container>
        <ng-container *ngIf="inputModel.status == 1">
          <button  class="btn btn-success">Đã nhập thông tin</button>
        </ng-container>
      </div>
    </div>

  </fieldset>
</form>
