<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
<div class="container">

  <div class="row align-items-center" *ngIf="profile&&profile.clientInfo">
    <table class="table table-bordered">
      <tbody >
        <tr>
          <th>Số:</th>
          <td>{{profile.clientInfo.id}}</td>
          <th>Ảnh:</th>
          <td>
            <img style="width: 200px;" class="brochure-poster" class="img-fluid rounded d-block"
              [src]="baseUrl+'/'+profile.clientInfo.cameraCapturePath" alt="" />
          </td>
        </tr>
        <tr>
          <th>Họ tên:</th>
          <td>{{profile.clientInfo.fullName}}</td>
          <th>Địa chỉ:</th>
          <td>{{profile.clientInfo.commune}}, {{profile.clientInfo.district}}, {{profile.clientInfo.province}}</td>
        </tr>
        <tr>
          <th>Giới tính:</th>
          <td>{{profile.clientInfo.sex =='nam'? 'Nam' : 'Nữ'}}</td>
          <th>Lý do khám:</th>
          <td>{{profile.reason}}</td>
        </tr>
        <tr>
          <th>Số CMND:</th>
          <td>{{profile.clientInfo.cccd}}</td>
          <th>Ngày sinh:</th>
          <td>{{profile.clientInfo.dateOfBirth}}</td>
        </tr>
        <tr>
          <th>Địa chỉ cấp:</th>
          <td>{{profile.clientInfo.addressCCCD}}</td>
          <th>Ngày cấp:</th>
          <td>{{profile.clientInfo.createTimeCCCD}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>