<div class="container">
    <form autocomplete="off"
    #createkhamtheluc="ngForm"
    (ngSubmit)="save()">
      <fieldset [disabled]="!isEditable">
        <div class="form-group row">
          <div class="input-group">
          <label for="chieucao" class="col-sm-2 col-form-label">Cân nặng</label>
            <input type="text" class="col-sm-10 form-control" aria-label="Amount (to the nearest dollar)" [(ngModel)]="khamtheluc.khamtheluc_text_cannang"
            [ngModelOptions]="{standalone: true}">
            <div class="input-group-append">
              <span class="input-group-text">kg</span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="input-group">
          <label for="chieucao" class="col-sm-2 col-form-label">Chiều cao</label>
            <input type="text" class="col-sm-10 form-control" aria-label="Amount (to the nearest dollar)"[(ngModel)]="khamtheluc.khamtheluc_text_chieucao"
            [ngModelOptions]="{standalone: true}">
            <div class="input-group-append">
              <span class="input-group-text">m</span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="input-group">
          <label for="chieucao" class="col-sm-2 col-form-label">Mạch</label>
            <input type="text" class="col-sm-10 form-control" aria-label="Amount (to the nearest dollar)"[(ngModel)]="khamtheluc.khamtheluc_text_mach"
            [ngModelOptions]="{standalone: true}">
            <div class="input-group-append">
              <span class="input-group-text">lần/phút</span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="input-group">
          <label for="chieucao" class="col-sm-2 col-form-label">Huyết áp</label>
            <input type="text" class="col-sm-10 form-control" aria-label="Amount (to the nearest dollar)"[(ngModel)]="khamtheluc.khamtheluc_text_huyetap"
            [ngModelOptions]="{standalone: true}">
            <div class="input-group-append">
              <span class="input-group-text">mmHg</span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="input-group">
          <label for="chieucao" class="col-sm-2 col-form-label">Phân loại thể lực</label>
            <input type="text" class="col-sm-10 form-control" aria-label="Amount (to the nearest dollar)" [(ngModel)]="khamtheluc.khamtheluc_text_phanloaitheluc"
            [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="form-group row">
          <button class="btn btn-primary">Lưu thông tin</button>
        </div>
      </fieldset>
    </form>
</div>