<div [@routerTransition]>

  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "Deparment" | localize }}</h1>
        </div>
        <div class="col-6 text-right">
          <button class="btn btn-primary" style="margin-right: 1rem;">Xuất Excel</button>
          <a href="javascript:;"
            class="btn bg-blue"
            (click)="createEnterprise()">
            <i class="fa fa-plus-square"></i>
            {{ "Create" | localize }}
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
  
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6"><div class="dropdown">
              <button class="dropdown-toggle dropdown-toggle-split"  class="btn btn-secondary" type="button" (click)="dropdownOpen = !dropdownOpen">
                <i class="fas fa-filter"></i> Lọc nâng cao
              </button>
              <div class="dropdown-menu dropdown-menu-left" [class.show]="dropdownOpen" id="filter-enterprise">
                <div class="row">
                    <div class="col-12">
                    </div>
                </div>
               
              </div>
            </div>
            </div>

          </div>
        </div>
        <app-dynamic-table
        (onEdit)="onTableItemClick($event)" 
        (onDelete)="onDeleteItemTable($event)"
        [onList]="list"
        ></app-dynamic-table>
      </div>
    </div>
  </section>
</div>