<h2 style="text-align: center;">KHÁM CẬN LÂM SÀN</h2>
<div class="container">
  <div (click)="isMau = !isMau" [attr.aria-expanded]="!isMau" aria-controls="collapseBasic">
    <h4>Xét nghiệm máu</h4>
  </div>
  <hr>
  <div id="collapseBasic" [collapse]="isMau" [isAnimated]="true">
    <div class="well well-lg card card-block card-header">
      <app-xet-nghiem-mau3></app-xet-nghiem-mau3>
    </div>
  </div>
  <div (click)="isNuocTieu = !isNuocTieu" [attr.aria-expanded]="!isNuocTieu" aria-controls="collapseBasic">
    <h4>Xét nghiệm nước tiểu</h4>
  </div>
  <hr>
  <div id="collapseBasic" [collapse]="isNuocTieu" [isAnimated]="true">
    <div class="well well-lg card card-block card-header">
      <app-xet-nghiem-nuoc-tieu3></app-xet-nghiem-nuoc-tieu3>
    </div>
  </div>
  <div (click)="ischuandoanha = !ischuandoanha" [attr.aria-expanded]="!ischuandoanha" aria-controls="collapseBasic">
    <h4>Xét nghiệm nước tiểu</h4>
  </div>
  <hr>
  <div id="collapseBasic" [collapse]="ischuandoanha" [isAnimated]="true">
    <div class="well well-lg card card-block card-header">
      <app-chuan-doan-hinh-anh3></app-chuan-doan-hinh-anh3>
    </div>
  </div>
</div>