<form
  class="form-horizontal"
  autocomplete="off"
  #editTenantForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'EditTenant' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="tenancyName">
        {{ sync.metaData.hoten }}
      </label>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="tenancyName">
        {{ sync.metaData }}
      </label>
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editTenantForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
