<h2 style="text-align: center;">TIỀN SỬ BỆNH CỦA ĐỐI TƯỢNG KHÁM SỨC KHỎE</h2>
<div class="container">
  <h3>1. Tiền sử gia đình</h3>
  <p>Có ai trong gia đình ông (bà) mắc một trong số các bệnh: Truyền nhiễm, tim mạch, đái tháo đường, lao, hen phế quản, ung thư, động kinh, rối loạn tâm thần, bệnh khác:</p>
  <div class="row">
    <div class="col-4">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">a. Không</label>
        </div>
        
    </div>
    <div class="col-4">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">b. có</label>
      </div>
    </div>
    <div class="col-12">
      
      <input type="text" class="form-control" placeholder="Nếu 'có' đề nghị ghi cụ thể tên bệnh">
    </div>
  </div>
  <h3>2. Tiền sử bản thân</h3>
  <p>Ông (bà) đã/ đang mắc bệnh, tình trạng bệnh nào sau đây không: Truyền nhiễm, tim mạch, đái tháo đường, lao, hen phế quản, ung thư, động kinh, rối loạn tâm thần, bệnh khác:</p>
  <div class="row">
    <div class="col-6">
      <table class="table-bordered">
        <thead>
          <tr>
            <th>Nội dung</th>
            <th>Có</th>
            <th>Không</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Có bệnh hay không trong 5 năm qua</th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
          </tr>
          <tr>
            <th scope="row">Có bệnh thần kinh hay bị thương ở đầu</th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
          </tr>
          <tr>
            <th scope="row">Bệnh mắt hoặc giảm thị lực (trừ trường hợp đeo kính thuốc)</th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
          </tr>
          <tr>
            <th scope="row">Bệnh ở tai, giảm sức khỏe nghe hoặc thăng bằng</th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
          </tr>
          <tr>
            <th scope="row">Bệnh ở tim, hoặc nhồi máu cơ tim, các bệnh tim khác</th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
          </tr>
          <tr>
            <th scope="row">Phẩu thuật, can thiệp tim - mạch (thay van, bắt cầu nối, tạo hình mạch, máy tạo nhịp, đặt stent mạch, ghép tim)</th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
          </tr>
          <tr>
            <th scope="row">Tăng huyết áp</th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
          </tr>
          <tr>
            <th scope="row">Khó thở</th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
          </tr>
          <tr>
            <th scope="row">Bệnh phổi, hen, khí phế thũng, viêm phế quản mạn tính</th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
          </tr>
          <tr>
            <th>Bệnh thận, lọc máu</th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <table class="table-bordered">
        <thead>
          <tr>
            <th>Nội dung</th>
            <th>Có</th>
            <th>Không</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Đái tháo đường hoặc kiểm soát tăng đường huyết</th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
          </tr>
          <tr>
            <th scope="row">Bệnh tâm thần</th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
          </tr>
          <tr>
            <th scope="row">Mất ý thức, rối loạn ý thức</th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
          </tr>
          <tr>
            <th scope="row">Ngất, chóng mặt</th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
          </tr>
          <tr>
            <th scope="row">Bệnh tiêu hóa</th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
          </tr>
          <tr>
            <th scope="row">Rối loạn giấc ngủ, ngừng thở khi ngủ, ngủ rũ ban ngày, ngáy to</th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
          </tr>
          <tr>
            <th scope="row">Tai biến mạch máu não hoặc liệt</th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
          </tr>
          <tr>
            <th scope="row">Bệnh hoặc tổn thương cột sống</th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
          </tr>
          <tr>
            <th>Sử dụng rượu bia thường xuyên, liên tục</th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
          </tr>
          <tr>
            <th>Sử dụng ma túy, chất gây nghiện</th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
            <th style="text-align: center;">
              <input class="" type="radio" name="table1" id="inlineRadio2" value="option2">
            </th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12">
      
      <input type="text" class="form-control" placeholder="Nếu 'có' đề nghị ghi cụ thể tên bệnh">
    </div>
  </div>
  <h3>Câu hỏi khác (nếu có)</h3>
  <p>a. Ông (bà) có đang điều trị bệnh gì không? Nếu có, xin hãy liệt kê các thuốc đang dùng và liều lượng:</p>
  <input type="text" name="" class="form-control">
  <p>b. Hiện tại đang có thai hoặc nuôi con nhỏ dưới 12 tháng hay không? (Đối với phụ nữ)</p>
  <input type="text" class="form-control">
</div>