<div class="information" (click)="expandStatus = !expandStatus" [attr.aria-expanded]="!expandStatus"
  aria-controls="collapseBasic" *ngIf="profile && profile.clientInfo">
  <h2 style="text-align: center;">{{title}}</h2>
  <h4>Thông tin cá nhân. [Họ tên: <span class="text-dark">{{profile.clientInfo.fullName}}</span>]-[Visa/CCCD/CMND:
    <span class="text-dark">{{profile.clientInfo.cccd}}</span>]</h4>
</div>
<hr>
<div id="collapseBasic" [collapse]="expandStatus" [isAnimated]="true">
  <div class="well well-lg card card-block card-header">
    <ng-content></ng-content>
  </div>
</div>