<h2 style="text-align: center;">KHÁM CẬN LÂM SÀN</h2>
<div class="container">
  <h3>Nội dung khám</h3>
  <p>1. Các xét nghiệm bắt buộc</p>
  <p>a. Xét nghiệm ma túy</p>
  <div class="form-group row">
    <label for="fullname" class="col-sm-2 col-form-label">Test Morphin/Heroin</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="fullname" placeholder="">
    </div>
  </div><div class="form-group row">
    <label for="fullname" class="col-sm-2 col-form-label">Test Amphetamin</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="fullname" placeholder="">
    </div>
  </div><div class="form-group row">
    <label for="fullname" class="col-sm-2 col-form-label">Test Methamphetamin</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="fullname" placeholder="">
    </div>
  </div><div class="form-group row">
    <label for="fullname" class="col-sm-2 col-form-label">Test Marijuana (cần sa)</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="fullname" placeholder="">
    </div>
  </div>
  <p>b. Xét nghiệm nồng độ máu hoặc hơi thở</p>
  <input type="text" class="form-control" id="fullname" placeholder="">
  <p>2. Các xét nghiệm chỉ thực hiện khi có chỉ định của bác sĩ khám sức khỏe: Huyết học/sinh hóa/X.quang và các xét nghiệm khác:</p>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Phân loại sức khỏe</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
  </div>
  <div class="form-group row">
    <label for="fullname" class="col-sm-2 col-form-label">a. Kết quả:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="fullname" placeholder="">
    </div>
  </div><div class="form-group row">
    <label for="fullname" class="col-sm-2 col-form-label">b. Kết luận:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="fullname" placeholder="">
    </div>
  </div>
</div>