<h2 style="text-align: center;">KHÁM CẬN LÂM SÀN</h2>
<div class="container">
  <app-khoa-wrapper title="Xét nghiệm ma túy" [status]="Data.xetnghiemmatuyvamau.status">
    <app-xet-nghiem-ma-tuy-va-mau [inputModel]="Data.xetnghiemmatuyvamau" [save]="save"></app-xet-nghiem-ma-tuy-va-mau>
  </app-khoa-wrapper>
  <app-khoa-wrapper title="Xét nghiệm khác" [status]="Data.xetnghiemkhac.status">
    <app-xet-nghiem-khac1 [inputModel]="Data.xetnghiemkhac" [save]="save"></app-xet-nghiem-khac1>
  </app-khoa-wrapper>
</div>