<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<form class="form-horizontal" autocomplete="off" #createProfile="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'Thông tin người khám' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row">
      <label for="certificate" class="col-sm-3 col-form-label">Chọn loại giấy</label>
      <div class="col-sm-9">
        <select class="form-control" [(ngModel)]="certificate.certificateTypeId" [ngModelOptions]="{standalone: true}">
          <option value="1">Giấy khám sức khỏe thi bằng lái xe</option>
          <option value="2">Giấy khám sức khỏe dành cho người trên 18 tuổi</option>
          <option value="3">Giấy khám sức khỏe dành cho người dưới 18 tuổi</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="fullname" class="col-sm-3 col-form-label">Họ và tên</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="fullname" required [(ngModel)]="certificate.clientInfo.fullName"
          #fullnameModel="ngModel" #fullnameEl [ngModelOptions]="{standalone: true}" placeholder="Họ và tên">
        <abp-validation-summary [control]="fullnameModel" [controlEl]="fullnameEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row">
      <label for="sex" class="col-sm-5 col-form-label">Giới tính</label>
      <div class="col-sm-7">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="certificate.clientInfo.sex" value="nam" name="sex"
            id="sex">
          <label class="form-check-label" for="sex">Nam</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="certificate.clientInfo.sex" value="nu" name="sex"
            id="sex">
          <label class="form-check-label" for="sex">Nữ</label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="CCCD" class="col-sm-3 col-form-label">Ngày sinh: </label>
      <div class="col-sm-9">
        <div>
          <input type="text" placeholder="Ngày sinh" class="form-control"
            [(ngModel)]="certificate.clientInfo.dateOfBirth" #dateofbirthModel="ngModel" #dateofbirthEl
            [ngModelOptions]="{standalone: true}" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker>
          <abp-validation-summary [control]="dateofbirthModel" [controlEl]="dateofbirthEl"></abp-validation-summary>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="CCCD" class="col-sm-3 col-form-label">Số CCCD</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" id="CCCD" placeholder="CCCD"
          pattern="^(?:\w{3}\d{6}|\w{1,2}\d{7}|\d{9}|\d{12})$" [(ngModel)]="certificate.clientInfo.cccd"
          #cccdModel="ngModel" #cccdEl [ngModelOptions]="{standalone: true}">
        <abp-validation-summary [control]="cccdModel" [controlEl]="cccdEl"></abp-validation-summary>
      </div>

    </div>
    <div class="form-group row">
      <label for="CCCD" class="col-sm-3 col-form-label">Ngày cấp: </label>
      <div class="col-sm-9">
        <div>
          <input type="text" placeholder="Ngày cấp" class="form-control"
            [(ngModel)]="certificate.clientInfo.createTimeCCCD" #createTimeCCCDModel="ngModel" #createTimeCCCDEl
            [ngModelOptions]="{standalone: true}" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker>
          <abp-validation-summary [control]="createTimeCCCDModel"
            [controlEl]="createTimeCCCDEl"></abp-validation-summary>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="addressCCCD" class="col-sm-3 col-form-label">Nơi cấp</label>
      <div class="col-sm-9">
        <input type="text" list="phanloaiCsk" class="form-control" name="phanloaiCsk" id="addressCCCD"
          placeholder="Cục Cảnh sát quản lý hành chính về trật tự xã hội"
          [(ngModel)]="certificate.clientInfo.addressCCCD" #addressCCCDModel="ngModel" #addressCCCDEl
          [ngModelOptions]="{standalone: true}">
        <abp-validation-summary [control]="addressCCCDModel" [controlEl]="addressCCCDEl"></abp-validation-summary>
        <datalist id="phanloaiCsk">
          <option value="Cục Cảnh sát quản lý hành chính về trật tự xã hội">Cục Cảnh sát quản lý hành chính về
            trật tự xã hội</option>

        </datalist>
      </div>
    </div>
    <div class="form-group row">
      <label for="address" class="col-sm-3 col-form-label">Chỗ ở hiện tại</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="address" placeholder="Chỗ ở hiện tại"
          [(ngModel)]="certificate.clientInfo.address" #addressModel="ngModel" #addressEl
          [ngModelOptions]="{standalone: true}">
        <abp-validation-summary [control]="addressModel" [controlEl]="addressEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row">
      <label for="province" class="col-sm-3 col-form-label">Tỉnh</label>
      <div class="col-sm-9">
        <select class="form-control" [(ngModel)]="certificate.clientInfo.province" [ngModelOptions]="{standalone: true}"
          (change)="getProvince()">
          <option *ngFor="let item of provinces" value="{{item.id}}">{{item.id}}-{{item.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="district" class="col-sm-3 col-form-label">Huyện</label>
      <div class="col-sm-9">
        <select class="form-control" [(ngModel)]="certificate.clientInfo.district" [ngModelOptions]="{standalone: true}"
          (change)="getDictrict()">
          districts: RegionDtlFull[];
          <option *ngFor="let item of districts " value="{{item.id}}">{{item.id}}-{{item.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="commune" class="col-sm-3 col-form-label">Xã</label>
      <div class="col-sm-9">
        <select class="form-control" [(ngModel)]="certificate.clientInfo.commune" [ngModelOptions]="{standalone: true}"(change)="getCommune()">
          <option *ngFor="let item of communes" value="{{item.id}}">{{item.id}}-{{item.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row" *ngIf="certificate.certificateTypeId == 3">
      <label for="GuardianName" class="col-sm-3 col-form-label">Họ và tên bố, mẹ hoặc người giám hộ</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="GuardianName" [(ngModel)]="certificate.clientInfo.guardianName"
          [ngModelOptions]="{standalone: true}" placeholder="Họ và tên bố, mẹ hoặc người giám hộ">
      </div>
    </div>

    <div class="form-group row">
      <label for="certificate" class="col-sm-3 col-form-label">Trạng thái thanh toán</label>
      <div class="col-sm-9">
        <select class="form-control" [(ngModel)]="certificate.paymentStatus" [ngModelOptions]="{standalone: true}">
          <option value="0">Chưa thanh toán</option>
          <option value="1">Đã thanh toán</option>
        </select>
      </div>
    </div>
    <!-- <div class="form-group row">
      <label for="amountPaid" class="col-sm-3 col-form-label">Số tiền đã thanh toán</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="amountPaid" [(ngModel)]="certificate.amountPaid"
          [ngModelOptions]="{standalone: true}" placeholder="Số tiền đã thanh toán">
      </div>
    </div> -->
    <div class="form-group row" *ngIf="certificate.certificateTypeId == 1">
      <label for="amountPaid" class="col-sm-3 col-form-label">Hạng</label>
      <div class="col-sm-9">
        <div>
          <select class="form-control" [(ngModel)]="certificate.reason" [ngModelOptions]="{standalone: true}">
            <option value="B1">B1</option>
            <option value="B2">B2</option>
            <option value="A1">A1</option>
            <option value="A2">A2</option>
            <option value="A3">A3</option>
            <option value="A4">A4</option>
            <option value="c">c</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="FC">FC</option>
            <option value="FB">FB</option>
            <option value="FB2">FB2</option>
            <option value="FD">FD</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group row" *ngIf="certificate.certificateTypeId == 3">
      <label for="amountPaid" class="col-sm-3 col-form-label">Lí do</label>
      <div class="col-sm-9">
        <div>
          <select class="form-control" [(ngModel)]="certificate.reason" [ngModelOptions]="{standalone: true}">
            <option value="Học tập">Học tập</option>
            <option value="Thi đấu thể thao">Thi đấu thể thao</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group row" *ngIf="certificate.certificateTypeId == 2">
      <label for="amountPaid" class="col-sm-3 col-form-label">Lí do</label>
      <div class="col-sm-9">
        <div>
          <select class="form-control" [(ngModel)]="certificate.reason" [ngModelOptions]="{standalone: true}">
            <option value="Học tập">Học tập</option>
            <option value="Làm việc">Làm việc</option>
            <option value="Làm việc và học tập">Làm việc và học tập</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createProfile.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>